$wideWidth: "(min-width:1400px)";
$middelWidth: '(max-width: 767px)';
$smallWidth: "(max-width:575px)";

nav {
  padding-bottom: 0;
}
.letter_join {
  padding: 100px 0 30px;
  text-align: center;
  font-weight: bold;
  @media #{$middelWidth} {
    padding: 100px 0 0;
  }
}
.list_wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  margin-top: 30px;
}

.sns_list, .info_list {
  display: flex;
}
.sns_list li, .info_list li {
  font-size: 13px;
  color: #aaa;
  text-align: center;
  padding: 0 10px;
}
.sns_list li {
  cursor: pointer;
}
.img_wrap {
  background: #000;
  display: flex;
  justify-content: center;
  .footer_img {
    max-width: 100%;
  }
}