$trigger1: '(max-width: 991px)';
$trigger2: '(max-width: 767px)';
$trigger3: '(max-width: 575px)';

.hide {
  visibility: hidden;
  @media #{$trigger1} {
    visibility: visible;
  }
}

.login-btnWrap {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  .login-btn {
    cursor: pointer;
    position: relative;
    top: 70px;
    svg {
      font-size: 1.4rem;
    }
    span {
      margin-left: 10px;
      line-height: 1;
    }
  }
}

h1 {
  display: flex;
  justify-content: center;
  padding: 20px 0 20px;
  z-index: 500;
  .img_wrap {
    cursor: pointer;
  }
}
nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  z-index: 500;
  .menu-list {
    display: flex;
    li {
      padding: 0 20px;
      font-weight: bold;
      cursor: pointer;
      transition: .3s ease-out;
      &:hover {
        font-weight: 500;
        color: var(--color-gray);
      }
    }
  }
  .search {
    position: absolute;
    top: -10px;
    right: 30px;
    border-bottom: 1px solid black;
    width: 10vw;
    white-space: nowrap;
    padding: 3px;
    input {
      border: none;
      outline: none;
      width: calc(100% - 30px);
      margin-left: 10px;
      font-size: 0.95rem;
      vertical-align: bottom;
      padding: 5px;
    }
  }
  @media #{$trigger1} {
    visibility: hidden;
  }
}

.side_menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 400px;
  height: 100%;
  background: var(--color-dark);
  padding-top: 60px;
  z-index: 500;
  transition: .6s ease-in;

  .closeBtnWrap {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    .closeBtn {
      font-size: 1.3rem;
      cursor: pointer;
      color: white;
    }
  }
  .side-menu-list {
    padding: 50px 0 80px 2rem;
    li {
      padding: 10px 0;
      font-size: 1.2rem;
      cursor: pointer;
      color: #fff;
      transition: .3s ease-out;
      &:hover {
        color: var(--color-light);
      }
    }
  }
  @media #{$trigger1}{
    width: 80vw;
  }

}
.burger-menu {
  position: absolute;
  top: 60px;
  left: 30px;
  font-size: 1.5rem;
  color: var(--color-gray);
  cursor: pointer;
}

.side_top {
  display: flex;
  justify-content: space-between;
}
h2 {
  padding-left: 30px;
  .img_wrap {
    cursor: pointer;
  }
}

.side-help-list {
  display: flex;
  li {
    margin-right: 10px;
    font-size: 0.8rem;
    color: #aaa;
    cursor: pointer;
  }
}
